# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.a
*.out

Miniconda3-latest-Linux-x86_64.sh

papers/

train.jsonl
val.jsonl

gbbs/
MODULE.bazel
MODULE.bazel.lock
bazel-*

evaluation/graph_data/
__pycache__/
.DS_Store

babeltower_test.csv
cpp.cuda.train.synthetic.jsonl
cpp.para.test.aer.jsonl
mono_cases.jsonl
omp_serial.json

finetune/generated-examples/parsed_parlaylib_test_dataset_similar.jsonl
finetune/generated-examples/parsed_parlaylib_test_dataset_similar_starting309.jsonl
finetune/generated-examples/parlaylib_train_dataset_similar.jsonl
finetune/generated-examples/parsed_test1.jsonl
finetune/generated-examples/test1.jsonl
finetune/generated-examples/parsed_*.jsonl
finetune/generated-examples/verified_*.jsonl
finetune/generated-examples/tmp
finetune/generated-examples/deepseek-*
finetune/generated-examples/lora-*
finetune/generated-examples/slurm-*
finetune/generated-examples/input_chunks
finetune/generated-examples/output_chunks

MonoCoder/
NPB-CPP/
PAM/
CodeRosetta/
dmoj_problems/
openevolve_output/
code_contest_dataset/results*/
.env
code_contest_dataset/results/
code_contest_dataset/temp_rayon_build/
code_contest_dataset/R-*
code_contest_dataset/dmoj_problems__blocked_1768639395
code_contest_dataset/local-model-scripts/
cco09p4.sh
